//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image:   '../img';
$bg-gray: #282827;
$bg-gray-2: #ebebeb;
$bg-gray-3: #353535;
$orange: #e8aa33;
$light-gray-text: #c4c1c1;
$red: #cd3a2c;
$dark-red: #cd3a2c;
$gray: #cccccc;
